.home {
    height: 240px;
    width: 500px;   
  }

.hidden {
    display: none;
}

nav a {
    margin: 0;
    color: darkblue;
}

nav a:hover {
    color:aqua;
    font: bold;  
    cursor: pointer;  
}

.home img {
    margin: 30px;
    height: 240px;
      width: 415px
  }